.coin-container {
  display: flex;
  justify-content: center;
}

#coin-row {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  border-bottom: 1px solid #d7d7d7;
}

#coin {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 30vw;
}

#coin-image {
  height: 30px;
  width: 30px;
  margin-right: 10px;
}

#coin-name {
  font-size: 16px;
  max-width: 150px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.coin-price,
.coin-marketcap,
.coin-percent {
  width: 100%;
  margin-top: 8px;
}

.red {
  color: #f00606;
}
.green {
  color: #11d811;
}
